/* foooter */
.footer {
  color: $black;
  padding: 40px 20px;
  border-top: 2px solid gray;

  .footer-container {
    display: flex;
    justify-content: space-between;

    @include sm {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
  }

  .footer-info {
    flex: 1 1 30%;
    margin-bottom: 20px;

  }

  .footer-logo {
    font-size: 24px;
    margin-bottom: 10px;
    color: $black;
  }

  .footer-logo span {
    color: red;
  }

  .footer-description,
  .footer-address,
  .footer-phone,
  .footer-email {
    margin: 5px 0;
    color: $black;
  }

  .footer-phone a,
  .footer-email a {
    color: $black;
    text-decoration: none;

  }

  .footer-phone a:hover,
  .footer-email a:hover {
    text-decoration: underline;
  }

  .footer-social {
    flex: 1 1 30%;
    margin-bottom: 20px;
  }

  .footer-social h3 {
    margin-bottom: 10px;
    color: $black;
  }

  .social-icon {
    display: inline-block;
    margin-right: 10px;

  }

  .social-icon img {
    width: 30px;
    height: 30px;
  }

  .footer-links {
    margin-bottom: 20px;
  }

  .footer-links h3 {
    margin-bottom: 10px;
    color: $black;
  }

  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-links li {
    margin-bottom: 10px;
  }

  .footer-links a {
    color: $black;
    text-decoration: none;
  }

  .footer-links a:hover {
    text-decoration: underline;
  }

  .pill {
    display: block;
    transform: rotate(180deg);
  }

  @include sm {

    .footer-social,
    .footer-info,
    .footer-links {
      flex: 1 1 100%;
      text-align: center;
    }
  }
}